{% extends 'base.html'%}

{%block conteudo%}

    {% for message in messages %}
        <div class="alert {{ message.tags }} " role="alert">{{ message }}</div>
    {% endfor %}
    <h1>Bem vindo {{user.first_name}} {{user.last_name}}</h1>
    
    <section>
        <h4>
            Olá este sistema visa auxiliar na prevenção do cançer de mama por meio de um formulario.
        </h4>
    </section>
    <a href="{% url 'forms'%}"><button class="btn btn-success"> Ir para o formulario</button></a>
</div>
<br><br><br><br><br><br><br><br><br>
    <table>

        
        <thead>
            <th>Nome do Paciente</th>
            <th>Sobrenome</th>
            <th>Nome da Clinica</th>
            <th>sexo</th>
            <th>Idade do paciente</th>
            <th>Teste genético apresenta mutação do tipo</th>
            <th>Historico Pessoal </th>
            <th>Tem historico</th>
            <th>Tem câncer de mama?</th>
            <th>Se tem câncer de mama, qual tipo histologico</th>
            <th>Faixa de idade do diagnostico de câncer de mama</th>
            <th>Tipo molecular de câncer de mama</th>
            <th>Se tem câncer, qual o tamanho do tumor</th>
            <th>Quantidade parentes de primeiro grau com câncer de mama</th>
            <th>Parentes de segundo grau ... < 50 anos</th>
            <th>Parentes de primeiro grau com</th>
            <th>Ascendencia Judia Ashkenazi</th>
        </thead>
        <tbody>
            {%for question in form %}
                <td>{{question.nomePaciente}}</td>
                <td>{{question.sobrenome}}</td>
                <td>{{question.nomeclinica}}</td>
                <td>{{question.sexo}}</td>
                <td>{{question.idadepaciente}}</td>
                <td>{{question.mutacaoGenetica}}</td>
                <td>{{question.opc_bilateral}}</td>
                <td>{{question.opc_ovario}}</td>
                <td>{{question.temcancer}}</td>
                <td>{{question.cancermama}}</td>
                <td>{{question.idade_diagnostico}}</td>
                <td>{{question.tipo_molecular}}</td>
                <td>{{question.tam_cancer}}</td>
                <td>{{question.qtd_parent_1}}</td>
                <td>{{question.qtd_parent_2}}</td>
                <td>{{question.parent_seg_grau}}</td>
                <td>{{question.parent_pri_grau}}</td>
                <td>{{question.asc_judia}}</td>
            {% endfor %}
        </tbody>
        
    </table>
{%endblock%}