.navbar{
    background-color:#FE3055 ;
   
}
.navbar .container > a{
    text-decoration: none;
    color: aliceblue;
}


table{
    width: 100%;
    height: 500px;
}

table > thead > th{
    width: 500px;
}