html,body{
    margin: 0;
    padding: 0;
}


.header{
    height: 70px;
    margin: 0;
    background-color:#FE3055;

    box-sizing: 5px rgb(98, 87, 87);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    color: #fff;


    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header > h3{
    font-weight: bold;
}

.login{
    height:90rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    position: relative;
    width: 450px;
    height: 60rem;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 30px;
    border: 1px solid #FE3055;
    border-radius: 5px;
    box-shadow: 1px solid #FE3055;

}
.form > h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin:0 auto;

    font-family: 30px bold;
}

.forms-input{
    width: 160rem;
    background-color: rgb(250, 247, 247);
    padding:  100px;
    font-size: 25px;
    margin: 100px auto;

    border: 1px solid #FE3055 ;
}

.user, .password{
    height: 120px;
    padding: 20px;
}

label{
    font-size: 25px;
}

#usuario,#senha{

    width: 340px;
    height: 30px;
    border: 1px solid #FE3055;

    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;    
}

.button{
    margin-top:50px ;
}

input{
    width: 90rem;
    height: 50px;
    margin-left: 254px;
    margin-bottom: 10px;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #FE3055; 
    padding: 5px;
}

input:focus{
    border: #d0425c;
}

.caixa{
    margin-bottom: 20px;
    border-bottom: 1px solid ;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

select{
    width: 300px;
    height: 40px;
    margin-left: 280px;
    margin-bottom: 10px;
    border: 1px solid;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;

    border: 1px solid #FE3055;
}
.send{
    width: 160px;
    height: 56px;
    background-color: #ef5571;

    color: black;
    display: block;
    margin: 0 auto ;

    border: none;
 
}

.send:hover{
    background-color:#d5193c ;
    color: #fff;
    font-size: bold;
}

.forgot{
    font-family: 20px;
    color: #d0425c;
    padding-left: 10px;
    text-decoration: none;

    
}

.rodape{
    margin-top: 40rem;
    display: flex;



    height: 140px;
    background-color: #d0425c;

    padding: 20px;
    color: #fff;

    position: relative;
}