html,body{
    margin: 0;
    padding: 0;
}


.header{
    height: 70px;
    margin: 0;
    background-color:#FE3055;

    box-sizing: 5px rgb(98, 87, 87);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    color: #fff;


    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header > h3{
    font-weight: bold;
}

.login{
    height: 80rem;

    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    

    background-color: #ffff;


}

.form{
    position: absolute;
    width: 450px;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 30px;
    border: 1px solid #FE3055;
    border-radius: 5px;
    box-shadow: 1px solid #FE3055;


}

.forms-input{
    width: 160rem;
    background-color: rgb(250, 247, 247);
    padding:  100px;
    font-size: 25px;
    margin: 100px auto;

    border: 1px solid #FE3055 ;
}

.user, .password{
    height: 120px;
    padding: 5px;
}

label{
    font-size: 25px;
}

#usuario,#senha{

    width: 340px;
    height: 30px;
    border: 1px solid #FE3055;

    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;    
}

.button{
    padding-top:10px ;
}

input{
    width: 550px;
    height: 50px;
    margin-left: 254px;
    margin-bottom: 10px;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.caixa{
    margin-bottom: 20px;
    border-bottom: 1px solid ;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

select{
    width: 300px;
    height: 40px;
    margin-left: 280px;
    margin-bottom: 10px;
    border: 1px solid;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;

    border: 1px solid #FE3055;
}
.send{
    width: 160px;
    height: 56px;
    background-color: #FE3055;

    color: black;
    display: block;
    margin: 0 auto ;

    border: none;
 
}

.send:hover{
    background-color:#d5193c ;
    color: #fff;
    font-size: bold;
}
.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #f39c12;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}