{% extends 'base.html'%}

{%block formulario%}
<form name="mainForm" class="forms-input">
    <div class="caixa">
        <label class="input_name"for="nomePaciente">Nome do paciente:</label>
        <input type="text" required name="nomePaciente" id="nomepaciente">
    </div>
    
    <br>
    <div class="caixa">
        <label class="input_name"for="sobrenome">Sobrenome:</label>
        <input type="text" required name="sobrenome" id="sobrenome">
    </div>
    
    <br>


    <div class="caixa">
        <label for="mutacao">Teste genético apresenta mutação do tipo: </label>
        <select name="mutacao" required id="mutacao">
            <option value=" "></option>
            <option value="1">BRCA1</option>
            <option value="2">BRCA2</option>
            <option value="3">TP53</option>
            <option value="4">CDH1</option>
            <option value="5">STK11</option>
            <option value="6">PTEN</option>
            <option value="7">PALB2</option>
            <option value="8">VUS</option>
        </select>
    </div>
    
    <div class="caixa">
        <label for="opcao_bilateral">Historico Pessoal de cancer de mama bilateral:</label>
        <select name="opcao_bilateral" required id="opcao_bilateral">
            <option value=" "></option>
            <option value="1">SIM</option>
            <option value="2">NÃO</option>
        </select>
    </div>
    
    <div class="caixa">
        <label for="opcao_ovario">Historico Pessoal de cancer de ovario:</label>
        <select name="opcao_ovario" required id="opcao_ovario">
            <option value=" "></option>
            <option value="1">SIM</option>
            <option value="2">NÃO</option>
        </select>
    </div>
    
    <div class="caixa">
        <label for="cancer_mama"> Teve câncer de mama?</label>
        <select name="cancer_mama" required id="cancer_mama">
            <option value=" "></option>
            <option value="1">SIM</option>
            <option value="2">NÃO</option>
        </select>
    </div>
    
    <div class="caixa">
        <label for="cancer_diagnostio">Idade do diagnostico de câncer de mama:</label>
        <select name="cancer_diagnostio" required id="cancer_diagnostio">
            <option value=" "></option>
            <option value="1"> Maior que 60 anos</option>
            <option value="2"> Entre 55  e 60 anos</option>
            <option value="3"> Entre 45  e 55 anos</option>
            <option value="4"> Entre 35  e 45 anos</option>
            <option value="5"> Entre 30 e 35 anos</option>
            <option value="6"> Menor que 30 anos</option>
        </select>    
    </div>
    <div class="caixa">
        <label for="cancer_histologico">Se câncer de mama, qual tipo histologico?</label>
        <select name="cancer_histologico" required id="cancer_histologico">
            <option value=" "></option>
           <option value="1">Carcinoma ductal insitu</option>
           <option value="2">Carcinoma não especial</option>
           <option value="3">Lobural</option>
           <option value="4">Medular</option>
           <option value="5">Metaplatico</option>
           <option value="6">Mucinoso</option>
        </select>
    </div>
    
    <div class="caixa">
        <label for="tipo_molecular">Tipo molecular de cancer de mama:</label>
        <select name="tipo_molecular" required id="tipo_molecular">
            <option value=" "></option>
            <option value="1">SIM</option>
            <option value="2">NÃO</option>
        </select>
    </div>

    <div class="caixa">
        <label for="tam_cancer">Se tem cancer, qual o tamanho do tumor:</label>
        <select name="tam_cancer" required id="tam_cancer">
            <option value=" "></option>
            <option value="1">SIM</option>
            <option value="2">NÃO</option>
        </select>
    </div>

    <div class="caixa">
        <label for="qtd_parent_1">Quantidade parentes de primeiro grau com cancer de mama:</label>
        <select name="qtd_parent_1" required id="qtd_parent_1">
            <option value=" "></option>
            <option value="1">Um</option>
            <option value="2">Dois</option>
            <option value="3">Três ou Mais</option>
            <option value="4">Desconhece</option>
        </select>
    </div>


    <div class="caixa">
        <label for="qtd_parent_2">Quantidade parentes de primeiro grau com cancer de mama < 50 anos:</label>
        <select name="qtd_parent_2" required id="qtd_parent_2">
            <option value=" "></option>
            <option value="1">Um</option>
            <option value="2">Dois</option>
            <option value="3">Três ou Mais</option>
            <option value="4">Desconhece</option>
        </select>
    </div>

    <div class="caixa">
        <label for="parent_2grua">Parentes de segundo grau ou mais distante com cancer de mama ou ovario < 50 anos:</label>
        <select name="parent_2grua" required id="parente_segundo">
            <option value=" "></option>
            <option value="1">Um</option>
            <option value="2">Dois</option>
            <option value="3">Três ou Mais</option>
            <option value="4">Desconhece</option>
        </select>
    </div>


    <div class="caixa">
        <label for="asc_judia">Ascendencia Judia Ashkenazi:</label>
        <select name="asc_judia" required id="asc_judia">
            <option value=" "></option>
            <option value="1">Sim</option>
            <option value="2">não</option>
        </select>
    </div>
  
 
    <input type="submit" class="send"value="Calcular" id="calcular" onclick="validaForm()">

</form> 
{%endblock%}