{% extends 'base.html'%}
{%block conteudo%}
{% load crispy_forms_tags %} 

<!-- {% if messages %}
<br><br><br>
  {% for message in messages %}
    
    <div class="alert {{ message.tags }} " role="alert">{{ message }}</div>
  {% endfor %}
{% endif %}
 -->
<div class="container">
    <div class="area-info-forms">
        <div class="info-forms">
        <p class="justify">
            <ul>
                <li>Este modelo pode ser usado para prever a probabilidade pré-teste (probabilidade anterior) de que uma pessoa tenha uma mutação BRCA1 ou BRCA2. Existem outros modelos, que podem fornecer estimativas diferentes.</li>
                <li>Este modelo não prevê o risco de câncer de mama. Ele se concentra apenas na chance de um indivíduo ter herdado uma mutação no BRCA1 ou BRCA2.</li>
                <li>As decisões sobre testes genéticos geralmente incluem a consideração do histórico pessoal e familiar de câncer, recomendações de grupos nacionais e/ou profissionais, critérios de seguro e/ou preferências do paciente, além de estimativas de probabilidade pré-teste, como fornecidas por este modelo.</li>
            
            </ul>  
        </p> 
        </div>    
    </div>
    
    <form action="{% url 'forms'%}" method="POST" enctype="multipart/form-data">
        
        <table class="table">
            {% csrf_token %}
            {{  formTo | crispy }}
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </td>
            </tr>
        </table>
    </form> 
</div>


{%endblock%}