{% extends 'base.html'%}
{%block login%}
<div class="login">
    <form class="form" action="" method="post">
        <h2>LOGIN</h2>
        <div class="user">
            <label for="usuario">Usuario</label><br>
            <input type="text" name="usuario" required id="usuario">
            <span id="notificationUser"></span>
        </div>
        <br>
        <div class="password">
            <label for="usuario">Senha</label><br>
            <input type="password" name="senha" required id="senha">
            <span id="notificationPass"></span>
        </div>
        <br>
        <a class="forgot" href="#">Esqueceu a senha?</a>
        <div class="button">
            <input  class= "send" type="submit" value="Entrar" onclick="validaLogin()">
        </div>
    </form>
</div>
<script>

    // função que valida os campos de usuário e senha de login
   

</script>

<!-- const d = document.getElementById("d");
dump(d.innerHTML); -->

{%endblock%}

