{% extends 'base.html'%}
{%block login%}

<div class="login">
    <div class="form" action="" method="post">
        <div class="user">
            <label for="usuario">Usuario</label><br>
            <input type="text" name="usuario" id="usuario">
        </div>
        <br>
        <div class="password">
            <label for="usuario">Senha</label><br>
            <input type="password" name="senha" id="senha">
        </div>
        <br>
        <div class="button">
            <input  class= "send"type="button" value="Entrar">
        </div>
    </div>
</div>

{%endblock%}

