{% extends 'base.html'%}
{%block conteudo%}
</div>
    <h2>Paciente cadastrados</h2>
    <hr>
    <div class="table-responsive mt-5">   
        <table class="table table-sm">
                <thead class="thead-dark w-10">
                    <tr> 
                        <th class="text-nowrap w-100 p-3" >Nome do Paciente</th>
                        <th class="text-nowrap w-100 p-3">Sobrenome</th>
                        <th class="text-nowrap w-100 p-3 ">Nome da Clinica</th>
                        <th class="text-nowrap w-100 p-3 ">sexo</th>
                        <th class="text-nowrap w-100 p-3 ">Idade do paciente</th>
                        <th class="text-nowrap w-100 p-3 ">Tem câncer de mama?</th>
                        <th class="text-nowrap w-100 p-3 ">Se tem câncer de mama, qual tipo histologico</th>
                        <th class="text-nowrap w-100 p-3 ">Faixa de idade do diagnostico de câncer de mama</th>
                        <th class="text-nowrap w-100 p-3 ">Teste genético apresenta mutação do tipo</th>
                        <th class="text-nowrap w-100 p-3 ">Historico Pessoal de cancer de mama bilateral</th>
                        <th class="text-nowrap w-100 p-3 ">Tem historico pessoal de cancer de ovario </th>
                        <th class="text-nowrap w-100 p-3 ">Tipo molecular de câncer de mama</th>
                        <th class="text-nowrap w-100 p-3 ">Se tem câncer, qual o tamanho do tumor</th>
                        <th class="text-nowrap w-100 p-3 ">Histórico familiar de câncer de mama masculino da familia ?</th>
                        <th class="text-nowrap w-100 p-3 "> Quantidade de parentes de primeiro grau ou mais distante com câncer de mama ou ovario com idade  < 50 anos</th>
                        <th class="text-nowrap w-100 p-3 ">Tem parentes de segundo grau ou mais distante com cancer de mama ou ovario  com idade< 50 anos</th>
                        <th class="text-nowrap w-100 p-3 ">Tem parentes de primeiro grau com</th>
                        <th class="text-nowrap w-100 p-3 ">Ascendencia Judia Ashkenazi</th>
                    </tr>
                </thead>
            <tbody>
                {%for question in form %}
                    <tr>
                        <td class="text-center">{{question.nomePaciente}}</td>
                        <td class="text-center" >{{question.sobrenome}}</td>
                        <td class="text-center">{{question.nomeclinica}}</td>
                        <td class="text-center">{{question.sexo}}</td>
                        <td class="text-center">{{question.idadepaciente}}</td>
                        <td class="text-center">{{question.temcancer}}</td>
                        <td class="text-center">{{question.cancer_mama}}</td>
                        <td class="text-center">{{question.idade_diagnostico}}</td>
                        <td class="text-center">{{question.mutacaoGenetica}}</td>
                        <td class="text-center">{{question.opc_bilateral}}</td>
                        <td class="text-center">{{question.opc_ovario}}</td>
                        <td class="text-center">{{question.tipo_molecular}}</td>
                        <td class="text-center">{{question.tam_cancer}}</td>
                        <td class="text-center">{{question.historicoFMasculino}}</td>
                        <td class="text-center">{{question.qtd_parent_2}}</td>
                        <td class="text-center">{{question.parent_seg_grau}}</td>
                        <td class="text-center">{{question.parent_pri_grau}}</td>
                        <td class="text-center">{{question.asc_judia}}</td>
                    </tr>
                {% endfor %}
            </tbody>  
        </table>
    </div>
{%endblock%}