{% extends 'base.html'%}
{%block  conteudo %}
{% load crispy_forms_tags %} 
</h2>Adicionar pergunta ao formulario</h2>
<hr>
<form class="adicionarPergunta"  method="post" action="{% url 'create_question' %}">
    {% if messages %}
    <br><br><br>
      {% for message in messages %}
        <div class="alert {{ message.tags }} " role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% csrf_token %}
    <br>
    <br>
    <br>
    {{ newpergunta | crispy }}
    <button type="submit" class="btn btn-primary">Adicionar</button>
  </form>
{% endblock %}